{% extends "privilege/privilege_base.html" %}
{% load static %}
{% load pagination %}
{% load i18n %}


{% block privilege_content %}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4 col-lg-4">
				{% trans "group name" %}：<a href="{% url privilege.views.group.group_detail group.id 1 %}">{{group.name}}</a>
			</div>
			
			<div class="col-md-8 col-lg-8" style="text-align: right;">
				<a class="btn btn-warning btn-xs" href="{% url privilege.views.group.delete_group group.id %}">
					<span class="glyphicon glyphicon-remove"></span> {% trans "delete" %}
				</a>
				<a class="btn btn-primary btn-xs" href="{% url privilege.views.group.edit_group group.id %}">
					 <span class="glyphicon glyphicon-pencil"></span> {% trans "rename" %}
				</a>
			</div>
		</div>
	</div>

	<div class="panel-body" style="padding-bottom: 0px;">
		<div class="row" style="margin-bottom: 20px;">
			<span style="margin-left: 15px;">{% trans "permissions of this group" %}：</span>
			<div class="col-md-12 col-lg-12">
				{% with group_permissions=group.permissions.all %}
				{% for permission in permissions %}
					{% if permission in group_permissions %}
					<div class="col-md-4 col-lg-4">
						<input type="checkbox" name="permission" value="{{ permission.id }}" checked="checked"
							onclick="privilegeGlobal.changeGroupPermission(this, '{{group.id}}', '{{ permission.id }}',
								'{% url privilege.views.group.change_group_permission %}')">
						<font title="{{ permission.name }}" id="{{group.id}}{{ permission.id }}" color="green">
							{{ permission.name|truncatechars:8 }}
						</font>
			    	</div>
					{% else %}
					<div class="col-md-4 col-lg-4">
						<input type="checkbox" name="permission" value="{{ permission.id }}"
							onclick="privilegeGlobal.changeGroupPermission(this, '{{group.id}}', '{{ permission.id }}',
								'{% url privilege.views.group.change_group_permission %}')">
						<font title="{{ permission.name }}" id="{{group.id}}{{ permission.id }}">
							{{ permission.name|truncatechars:8 }}
						</font>
					</div>
					{% endif %}
			    {% endfor %}
			    {% endwith %}
			</div>
		</div>

		<div class="row">
			<span style="margin-left: 15px;">{% trans "users of this group" %}：</span>
		    {% if not page.object_list %}
	    		<p class="text-warning" style="margin-bottom: 20px;margin-left: 30px;">{% trans "This group has no users." %}</p>
		    {% else %}
		    	<div class="col-md-12 col-lg-12">
			    	{% for user in page.object_list %}
					<div class="col-md-2 col-lg-2" id="usergroup{{user.id}}{{group.id}}">
						<font class="text-success" title="{{ user.username }}">
							{{ user.username|truncatechars:8}}
						</font>
						<button type="button" class="close" style="float: none;vertical-align: bottom;"
							onclick="group_detail_util.removeFromGroup('{{user.id}}', '{{group.id}}')">&times;</button>
					</div>
			    	{% endfor %}
			    </div>
			    
		    	<div class="row" style="text-align: right;padding-right: 35px;">
					{% pagination page url_prefix request %}
				</div>
		    {% endif %}
	    </div>
	    
	</div>
</div>

<script>
var group_detail_util = new Object();

//remove user from group
group_detail_util.removeFromGroup = function (userid, groupid) {
	var data = {"user_id": userid, "param_id": groupid, "op_code": "delete", "param_type": "group"};
	$.ajax({
		type: "POST",
		url: "{% url privilege.views.user.change_user_permission %}",
		async: true,
		data: data,
		success: function(response) {
			if (response.status == "ok") {
			var parentObj = document.getElementById("usergroup" + userid + groupid);
			parentObj.style.display = "none";
			} else {
				alert(response.msg);
			}
		},
	});
}
</script>

{% endblock %}


{% block privilege_extra_js %}
<script type="text/javascript" src="{% static 'js/privilege/privilege.js' %}"></script>
{% endblock %}
