{% load i18n %}

<ul class="pagination pagination-sm">
	<li class="disabled"><span>{% trans "Item Count" %} {{pager.paginator.count}}</span></li>
	{% ifnotequal 1 pager.number %}
		<li><a class='paginator' title='{% trans "FirstPage" %}' href='{{prefix}}/1/{% if parameter %}?{{parameter}}{% endif %}'><span>{% trans "FirstPage" %}</span></a></li>
	{% endifnotequal %}

    {% if pager.has_previous %}
		<li><a class='paginator' title='{% trans "PrePage" %}' href='{{prefix}}/{{pager.previous_page_number}}/{% if parameter %}?{{parameter}}{% endif %}'><span>{% trans "PrePage" %}</span></a></li>
	{% endif %}

	{% for i in pager.paginator.page_range_extension %}
        {% if i == pager.number %}
            <li class="active"><a href="{{prefix}}/{{i}}/{% if parameter %}?{{parameter}}{% endif %}">{{ i }}</a></li>
        {% else %}
            <li><a href="{{prefix}}/{{i}}/{% if parameter %}?{{parameter}}{% endif %}">{{ i }}</a></li>
        {% endif %}
	{% endfor %}

	{% if pager.has_next %}
    <li><a class='paginator' title='{% trans "NextPage" %}' href='{{prefix}}/{{pager.next_page_number}}/{% if parameter %}?{{parameter}}{% endif %}'><span>{% trans "NextPage" %}</span></a></li>
	{% endif %}

	{% ifnotequal pager.paginator.num_pages pager.number %}
	<li><a class='paginator' title='{% trans "LastPage" %}' href='{{prefix}}/{{pager.paginator.num_pages}}/{% if parameter %}?{{parameter}}{% endif %}'><span>{% trans "LastPage" %}</span></a></li>
	{% endifnotequal %}

	<li class="disabled"><span>{% trans "All" %}{{pager.paginator.num_pages}}{% trans "Page" %}</span></li>
</ul>
